* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Retângulo vermelho */
.rect-red {
    z-index: -1;
    position: absolute;
    margin-top: -25%;
    height: 50%;
    width: 100%;
    background-color: #CC0627;
}

/* Cartão com a imagem e as informações */
.card {
    display: flex;
    width: 650px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
    background-color: #fff;
}

/* css da imagem do card */
.card .img-tenis {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* css das informações do card */
.card .info-tenis {
    display: flex;
    flex-direction: column;
    background-color: #CC0627;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #eee;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    gap: 15px;
}

.card .info-tenis .nome {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.card .info-tenis .descricao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card .info-tenis .descricao h3{
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.card .info-tenis .descricao p {
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
}

.card .info-tenis .tamanho {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    
}

.card .info-tenis .tamanho ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.card .info-tenis .tamanho li{
    list-style: none;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 8px;
}